
body {
    background-image: url("../images/background-2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    /* background-size: cover; */
    background-attachment: fixed;
    background-size: cover;
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    color: rgb(221, 151, 59);
    text-shadow: 2px 2px 8px rgb(255, 30, 0);
    float: left;
}

h3 {
    color: rgb(221, 151, 59);
    text-shadow: 2px 2px 8px rgb(255, 30, 0);
}

p {
    color: rgb(243, 243, 224);
    text-shadow: 2px 2px 8px rgb(233, 118, 114);
}

.attack {
    float: left;
    margin-top: 20px;    
}

.characters h3 {
    clear: both;
}

.characters img {
    border: 2px solid red;
}

.availableChars, .opponents, .opponent {
    margin-right: 40px;
    margin-bottom: 10px;
    background: rgba(36, 35, 35, 0.8);
    padding: 10px;
    float: left;
    border-radius: 15px;
}

.yourChar img{
    border: 2px solid yellow;
}

.available {
    clear: both;
    float: left;
}

.available h3 {
    clear: both;
}

.available img {
    border: 2px solid green;
}

.defender {
    clear: both;
}

.defender img {
    border: 2px solid orangered;
}

.container img {
    width: 200px;
    box-shadow: 1px 1px 8px rgb(61, 61, 61);
    margin-bottom: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .characters, .yourChar, .defender, .available {
        margin-left: 50px;
    }
}