body {
    background: url("../images/background.jpg");
}

h1 {
    color: rgb(221, 151, 59);
    text-shadow: 2px 2px 8px rgb(255, 30, 0);
}

h3 {
    color: rgb(221, 151, 59);
    text-shadow: 2px 2px 8px rgb(255, 30, 0);
}

p {
    color: rgb(221, 151, 59);
    text-shadow: 2px 2px 8px rgb(255, 30, 0);
}

.availableChars, .opponents, .opponent {
    margin-right: 40px;
    float: left;
}


.available {
    clear: both;
    float: left;
}

.available h3 {
    clear: both;
}

.defender {
    clear: both;
}

.container img {
    width: 200px;
    box-shadow: 2px 2px 8px rgb(29, 13, 10);
}